{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html>



{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">{{message}}</div>

{% endfor %}
{%  endif %}
<br>
<form action="" method="GET">
    <div class="row">
        <div class="col"><input class="form-control" type="text" name="title_search" placeholder="Search by Title">
        </div>
        <div class="col"><input class="form-control" type="text" name="auther_search" placeholder="Search by Auther">
        </div>
        <div class="col"><input class="form-control" type="text" name="title_content_search"
                placeholder="Search by title/content"></div>
        <div class="col "><input class="btn btn-primary" type="submit" value="Search"></div>
    </div>





</form>






{% for post in posts %}

<div class="card mt-3 p-2 ">
    <a href="{% url 'post_details' post.pk %}">
        <h3 class="">{{post.post_name}}</h3>
    </a>
    <img class="imag-fluid  " width="70px" src="{{post.auther.profile.image.url}}" alt="صورة الناشر"><span
        class="border-bottom">بواسطة {{post.auther}} في {{post.post_date}}</span>

    <div class="">{{post.post_body}}</div>

</div>




{% endfor %}





{% endblock content %}




</html>