{% extends 'app/base.html' %}
{% load static %}
<html>



{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">{{message}}</div>

{% endfor %}
{%  endif %}

{% for post in posts %}
<div class="card mt-3 p-2 ">
    <a href="{% url 'post_details' post.pk %}"><h3 class="">{{post.post_name}}</h3></a>
    <span class="border-bottom">بواسطة {{post.auther}} في {{post.post_date}}</span>
    <div class="">{{post.post_body}}</div>
    
</div>




{% endfor %}





{% endblock content %}




</html>
